.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    text-decoration: none;
}
.header li a:hover:not(.active) {
    background-color: #d862ef;
}

.active {
    background-color: #ff426b;
}

.header {
	position: absolute;
	width: 100%;
	height: 120px;
	top: 0px;
	left: 0px;
	background-color: black;
	background-image: -webkit-linear-gradient(bottom, lightgrey 50%, grey 100%);
}

.container {
	position: relative;
	top: 170px;
}

.navbar {
	position: absolute;
	top: 65px;
	width: 100%;
	height: 30px;
	background-color: transparent;
}

.left1 {
	left: 30px;
}

ul.products li {
    width: 200px;
    display: inline-block;
    border: 1px solid rgba(226, 226, 226, 0.4);
    background: rgba(226, 226, 226, 0.4);
}

ul.products li {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

ul.products li {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

.product-img {
	width: 100%
}

.title {
	color: grey;
}

.price {
	color: orange;
}

.cart-product {
    position: relative;
    background-color: transparent;
    border: 1px solid black;
    margin-bottom: 5px;
    width: 500px;
    height: 150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.cart-product img {
    position: absolute;
    left: 10px;
    top: 0;
    width: 30%;
}

.cart-product h3 {
    position: absolute;
    left: 250px;
}

.cart-product h2 {
    position: absolute;
    left: 250px;
    bottom: 0px;
    color: orange;
}

.cart-product input[type="number"]
{
    position: absolute;
    width: 40px;
    bottom: 0px;
    right: -200px;
}

